body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    padding-top: 68.25px;
    padding-bottom: 5rem;
    flex-grow: 1;
}

@media (max-width: 648px) {
    main {
        padding-top: 64.25px;
    }
}

a {
    font-weight: 400;
}

.affiliation:not(:last-child) {
    margin-bottom: 0.5rem;
}

.education:not(:last-child) {
    margin-bottom: 0.5rem;
}

.link-pdf:after {
    content: "\F392";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 400 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    margin-left: 0.25rem;
}

.link-external:after {
    content: "\F1C5";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 400 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    margin-left: 0.25rem;
}

.publication-group:not(:last-child),
.grants-awards-group:not(:last-child) {
    margin-bottom: 5rem;
}

.grants-awards-item #year {
    min-width: 6rem;
    max-width: 6rem;
    text-align: right;
}
