---
import Base from "../layouts/Base.astro";
---

<Base>
	<div class="row row-cols-2 row-cols-sm-1 align-items-center-g-4">
		<div class="col col-10 col-sm-6 col-lg-3 p-lg-0 mb-auto">
			<img src="/portrait.jpg" class="d-block img-fluid alert p-0" alt="Portrait of Teruaki Kido, standing in front of an MRI scanner" loading="lazy"></img>
			<h1 class="fw-bold">KIDO, Teruaki</h1>
			<h3 class="fw-bold">木戸 照明</h3>
			<p class="font-monospace">teruaki.kido[at]gmail.com</p>
		</div>
		<div class="col col-12 col-lg-8 mx-auto ms-lg-auto mb-auto">
			<div class="row row-cols-1 row-cols-lg-2 g-4">
				<div class="col col-lg-12">
					<h2 class="mb-3">
						<i class="bi bi-tags-fill me-2"></i>
						Affiliations
					</h2>
					<div>
						<div class="affiliation">
							<h5 class="mb-1">Postdoctoral research associate</h5>
							<p class="ms-4 mb-0">
								<a class="link-external" href="https://sites.brown.edu/cpl/" target="_blank" rel="noopener noreferrer">Laboratory for Cognitive and Perceptual Learning</a>,
								Department of Cognitive and Psychological Sciences,
								Brown University,
								RI, USA
							</p>
						</div>
						<div class="affiliation">
							<h5 class="mb-1">Cooperative visiting researcher</h5>    
							<p class="ms-4 mb-0">
								<a class="link-external" href="https://www2.nict.go.jp/bnc/hayashi/en/" target="_blank" rel="noopener noreferrer">Hayashi Laboratory</a>,
								Center for Information and Neural Networks (CiNet),
								Advanced ICT Research Institute,
								National Institute of Information and Communications Technology (NICT),
								Suita, Japan
							</p>
						</div>
					</div>
				</div>
				<div class="col col-lg-6">
					<h2 class="mb-3">
						<i class="bi bi-mortarboard-fill me-2"></i>
						Education
					</h2>
					<div class="education d-flex">
						<span class="h5 me-3">2025</span>
						<div>
							<span class="h5 d-block d-sm-inline d-lg-block d-xl-inline mb-0">Ph.D., </span>
							<span class="h5 d-block d-sm-inline d-lg-block d-xl-inline mb-0 fs-6">Cognitive and Behavioral Sciences</span>
							<p class="mb-0">The University of Tokyo</p>
						</div>
					</div>
					<div class="education d-flex">
						<span class="h5 me-3">2022</span>
						<div>
							<span class="h5 d-block d-sm-inline d-lg-block d-xl-inline mb-0">M.Sc., </span>
							<span class="h5 d-block d-sm-inline d-lg-block d-xl-inline mb-0 fs-6">Cognitive and Behavioral Sciences</span>
							<p class="mb-0">The University of Tokyo</p>
						</div>
					</div>
					<div class="education d-flex">
						<span class="h5 me-3">2020</span>
						<div>
							<h5 class="mb-1">Bachelor of Liberal Arts</h5>
							<p class="mb-0">The University of Tokyo</p>
						</div>
					</div>
				</div>
				<div class="col col-lg-6">
					<h2 class="mb-3">
						<i class="bi bi-search me-2"></i>
						Research interests
					</h2>
					<ul>
						<li class="mb-2">
							<span class="d-block d-sm-inline d-lg-blogk mb-0">Magnitude perception</span>
							<span class="d-block d-sm-inline d-lg-block mb-0">(number and time)</span>
						</li>
						<li class="mb-2">
							<span class="d-block d-sm-inline d-lg-blogk mb-0">Perceptual/neural plasticity</span>
							<span class="d-block d-sm-inline d-lg-block mb-0">(perceptual learning and sleep)</span>
						</li>
						<li class="mb-2">
							<span class="d-block d-sm-inline d-lg-blogk mb-0">Neuroimaging</span>
							<span class="d-block d-sm-inline d-lg-block mb-0">(e.g., fMRI, MRS)</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col col-12 mt-4">
			<div class="row row-cols-auto gap-2">
				<a class="col link-pdf btn btn-md btn-primary fw-semibold" href="/cv.pdf" target="_blank" rel="noopener noreferrer">
					CV
				</a>
				<a class="col link-external btn btn-md btn-primary fw-semibold" href="https://scholar.google.com/citations?user=yisoL20AAAAJ" target="_blank" rel="noopener noreferrer">
					Google Scholar
				</a>
				<a class="col link-external btn btn-md btn-primary fw-semibold" href="https://orcid.org/0009-0009-5503-6362" target="_blank" rel="noopener noreferrer">
					ORCiD
				</a>
				<a class="col link-external btn btn-md btn-primary fw-semibold" href="https://www.researchgate.net/profile/Teruaki-Kido" target="_blank" rel="noopener noreferrer">
					ResearchGate
				</a>
				<a class="col link-external btn btn-md btn-primary fw-semibold" href="https://researchmap.jp/tkido?lang=en" target="_blank" rel="noopener noreferrer">
					researchmap
				</a>
			</div>
		</div>
	</div>
</Base>
