---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class="navbar navbar-expand-md bg-primary border-0 border-bottom">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">{SITE_TITLE}</a>
			<button class="navbar-toggler" type="button" 
				data-bs-toggle="collapse" data-bs-target="#navmenu" 
				aria-controls="navmenu" aria-expanded="false" aria-label="Toggle navigation menu">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse" id="navmenu">
				<ul class="navbar-nav ms-auto mb-2 mb-md-0">
					<li class="nav-item">
						<HeaderLink class="nav-link" href="/">About</HeaderLink>
					</li>
					<li class="nav-item">
						<HeaderLink class="nav-link" href="/publications">Publications</HeaderLink>
					</li>
					<li class="nav-item">
						<HeaderLink class="nav-link" href="/presentations">Presentations</HeaderLink>
					</li>
					<li class="nav-item">
						<HeaderLink class="nav-link" href="/grants-awards">Grants & Awards</HeaderLink>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
